
 div.tagsinput span.tag {
    text-transform: lowercase !important
 ;
}
 textarea {
     background: url(images/benice.png) center center no-repeat; /* This ruins default border */
     border: 1px solid #888;
     width: 300px; min-height: 100px; height: 100px;

 }
 div.information {
float: right;
     margin-right: 20px;
    border-style: solid;
     border-color: darkgrey;

     padding:0 20px;
     height: 470px;
     width: 350px;
 }


 #info {
    margin-left: 20px;
     font-family: "Open Sans",sans-serif;

     font-size: 23px;
 }
 div.wrap {
     float: left;

 }
#rubrik {
    margin-left: 20px;
}
#long {
    width: 500px;

}

#button {
    margin-left: 150px;
}

