/*Gör att alla hashtags blir små*/
 div.tagsinput span.tag {
    text-transform: lowercase !important
 ;
}
 /*Arbetar med hashtagsen*/
 textarea {
     background: url(images/benice.png) center center no-repeat; /* This ruins default border */
     border: 1px solid #888;
     width: 300px; min-height: 100px; height: 100px;

 }
 /*Informations-rutorna*/
 div.information {
float: right;
     margin-right: 20px;
    border-style: solid;
     border-color: darkgrey;

     padding:0 20px;
     height: 500px;
     width: 350px;
 }
 div.information2 {
     float: right;
     margin-right: 20px;
     border-style: solid;
     border-color: darkgrey;

     padding:0 20px;
     height: 600px;
     width: 350px;
 }

h2.testar {
    margin-left: 400px;
}

 #info {
    margin-left: 20px;
     font-family: "Open Sans",sans-serif;

     font-size: 23px;
 }
 div.wrap {
     float: left;

 }
#rubrik {
    margin-left: 20px;
}
#long {
    width: 500px;

}

#button {
    margin-left: 150px;
}
 #longhashtag {
     width: 500px;


 }

 #feedCB {
     margin-left: 35%;
     width: 200px;
 }
 #specFeedRubrik {
     margin-left: 25%
 }


#welcomemenu {
    float: left;
    margin-left: 20px;

    border-style: hidden;
    border-color: none;

    padding:0 20px;
    height: 470px;
    width: 500px;
}

#feed-welcome-rubrik {
    margin-left: 25%;
}

#underline {
    text-decoration: underline;
}